* {
    --bg-blue: #0082ca;
    --bg-white: #f8f9f8;
    --dark-color: #565761;
    margin: 0;
    padding: 0;
}

/* LOGO SVG */

svg {
    cursor: pointer;
}

#small {
    fill: var(--bg-white);
}

#big {
    fill: var(--bg-white);
    opacity: 0;
}

svg:hover #small {
opacity: 0;
}

svg:hover #big {
    opacity: 100;
}

#small,
#big {
    transition: all 1s ease;
}

/* TEXT */

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
}

p { 
    text-align: justify;
}

/* BODY */

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Archivo', sans-serif;
    
    background-image: url(images/tile_background.png);
    background-repeat: repeat;   
}

/* -------------- NAV BAR ------------- */

nav {
    background-color: var(--bg-blue);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 120px;
  }

.pnav {
    color: var(--bg-white);
    font-size: 2rem;
    line-height: 100px;
    float: left;
    padding: 5px 20px;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    color: var(--bg-white);
	font-size: max(14px, calc(10px + 1vw)); /*change*/
    padding: 40px max(calc(2px + 1vw), 7px); /*change*/
    display: block;
    text-decoration: none;
   }


nav ul li ul {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    position: absolute;
    background-color: var(--bg-blue);
    padding: 5px;
    border-radius: 0px 0px 4px 4px ;
}
nav ul li:hover ul  {
    visibility: visible;
    opacity: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    transition: all 0.4s ease;
}
nav ul li ul li {
    width: 100%;
    border-radius: 4px;
    
}
nav ul li ul li a {
    padding: 10px 20px;
}
nav ul li ul li a:hover {
    background-color: rgba(249, 249, 248, 0.25);
    border-radius: 4px;
    transition: all 0.4s ease;
}
/* Styles Main Page */

.hero
{
	background-color: #333;
	background-image: url(images/pc.jpg);
	background-blend-mode: multiply;
	background-attachment: fixed; 
	background-size: cover;
	color: white;
	text-align: center;
	padding: 25.25vh 0.025em; /*vertical height of background image*/
}



.intro
{
	text-align: center;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
}

.section-title_intro
{
	color:var(--clr-accent);
	font-size: 2rem;
}

.consulting_body,.repair_body
{
	text-align: center;
	max-width: 450px;
	margin: 0rem auto;
}

.conslting-repair
{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	display: flex;
	flex-wrap:wrap;
}

.section-title_beratung,.section-title_repair
{
	color: var(--bg-blue);
    padding: 1rem;
}

.icon-image
{
	max-width:70px;
    max-height:70px;
}

/*  ----------- Form für AdminRegister, Login, Contact-Us ----------------- */

.form
{
	width: 340px;
	background: #e6e6e6;
	border-radius: 8px;
	box-shadow: 0 0 40px -10px #000;
	margin: calc(50vh - 320px) auto; 
	padding: 20px 30px; 
	box-sizing: border-box;
	font-family: 'Montserrat',sans-serif;
}

#form_registry ,#form_feedback
{
	margin: 130px auto; 
}

#form_registry
{
	padding: 20px 30px 85px;
}

#form_contact
{
	height: 490px;
	padding-bottom: 500px;
	width: 400px;
}

#form_login
{
	height: 400px;
}

#form_delete
{
	height: 250px;
}

#form_rechnung_admin,#form_rechnung
{
	padding-bottom: 80px;
}

#form_feedback
{
	height: 470px;
}

.form h2, .services h2
{
	margin: 10px 0;
	padding-bottom: 10px;
	color: #877277;
	border-bottom: 3px solid #877277;
}

.form input, .services input
{
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	background: none; 
	outline: none; 
	border: 0; 
	font-family: 'Montserrat',sans-serif;
	border-bottom: 2px solid #bebed2;
}

.form input:focus, .services input:focus
{
	border-bottom: 2px solid #877277;
	transition: 0.8s;
}

.form p:before, .services p:before
{ 
	content: attr(type); 
	display: block;
	margin: 28px 0 0;
	font-size: 14px;
	color: #877277;
}

.form button
{
	float: right;
	padding: 8px 12px;
	font-family: 'Montserrat',sans-serif;
	border: 2px solid #5798C2;
	background: 0;
	color: #5798C2;
	cursor: pointer;
}

.form button:hover, #services_button:hover
{
	background:#5798C2;
	color:#fff;
}

.form #contact_name_error, .form #contact_email_error, .form #contact_message_error, .form #user_error, .form #pass_error,
.form #register_name_error, .form #register_password_error, .form #register_email_error, .form #function_of_busniess_error,
.services #client_name_error, .services #client_email_error, .services #client_address_error, .services #radio_button_error,
.services #selector_error, .form #konto_name_error, .form #feedback_name_error, .form #feedback_message_error_d, 
.form #partner_employee_feedback_error, .form #rechnungen_liste_error_admin, .form #rechnungen_liste_error
{
	color: red;
	font-size: 15px;
	visibility: hidden;
}

.form #name_p
{
	padding-top: 10px;
}

.form #contact_name
{
	padding-top: 10px;
}

.form #contact_button
{
	margin: 50px 0 0;
}

.form #login_button
{
	margin: 60px 0 0;
}

.form #register_button , .form #submit_button, .form #form_feedback ,.form #delete_button
{
	margin: 25px 0 0;
}

/*  ----------- form for bewerben ----------------- */




/*  ----------- form for services ----------------- */


.services
{
	margin: 130px auto; 
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 18px;
	padding-bottom: 40px;
	max-width: 630px;
	background: #e6e6e6;
	border-radius: 8px;
	box-shadow: 0 0 40px -10px #000;
	box-sizing: border-box;
	font-family: 'Montserrat',sans-serif;
}

@media screen and (max-width:700px)
{
	.services
	{
		width: 300px;
	}
	
	#request
	{
		width:250px;
		height:100px;
	}
	
}

#services_button
{
	float: right;
	padding: 8px 12px;
	font-family: 'Montserrat',sans-serif;
	border: 2px solid #5798C2;
	background: 0;
	color: #5798C2;
	cursor: pointer;
	transition: all .3s;	
}



/*  ----------- admin-page, employee-page, client-page ----------------- */

/*  ----------- sidebar ----------------- */

.sidebar_menu
{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 70px;
	top: 120px;
	background-color: #fff;
	border-top-right-radius: 10px;
	overflow: hidden;
	white-space: nowrap;
	box-shadow: 0px 0px 20px #d4d4d4;
	transition: 0.3s ease;
}

@media only screen and (max-width: 1181px)
{
	.sidebar_menu
	{
		position: absolute;
		left: 0;
		height: 85px;
		width: 100%;
		top: 120px;
		background-color: #fff;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	
	.sidebar_menu ul li 
	{
		width: 45px;
	}
	
	.sidebar_menu ul li span
	{
		display: none;
	}

	.sidebar_menu .sidebar_list:focus
	{
		background-color: #d6d6d6;
		cursor: pointer;
	}
	
	.sidebar_menu ul
	{
		display: flex;
		justify-content:space-around;
		list-style-type:none;
	}
	
}

@media screen and (max-width:670px)
{
	.sidebar_menu 
	{
		display: block;
		overflow-x: auto;
		white-space: nowrap;
	}
	
	.sidebar_menu ul li 
	{
		width: 45px;
	}
}


@media screen and (min-width:1182px)
{
	.sidebar_menu:hover
	{
		width: 270px;
	}
}

.sidebar_menu .sidebar_list
{
	padding: 10px;
}

.sidebar_menu .sidebar_list:hover
{
	background-color: #d6d6d6;
	cursor: pointer;
}

.sidebar_menu .sidebar_list .fa
{
	font-size: 40px;
	padding-right: 40px;
	padding-top: 10px;
	width: 40px;
	height: 50px;
}

.sidebar_menu ul
{
	align-items: center;
}

.register, .register_list, .services, .register_list, .order_list, .feedback_list, .client_messages_list,
.feedback, .delete_account, .client_feedback, .rechnungen_download, .rechnungen_admin_download
{
	display: none;
}

/* Links inside the dropdown */

@media screen and (min-width:1182px)
{

.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#arrow_down
{
	padding-left: 60px;
}

#arrow_down_1
{
	padding-left: 42px;
}

}

@media screen and (max-width:1181px)
{
	.dropdown .dropdown-content, #arrow_down, #arrow_down_1 {
		display: none;
	}
	
	
}

/*  ----------- register list, order-list, feedback-list, client-message-list ----------------- */

.iframe
{
	margin-top: 130px;
	text-align: center;
}

.iframe iframe
{
	width: 600px;
	height: 500px;
}


@media only screen and (max-width: 1181px)
{
	.iframe
	{
		margin-top: 130px;
		text-align: center;
	}

	.iframe iframe
	{
		width: 300px;
		height: 400px;
	}
}

/* CONTENT */

/*  ----------- Drucksysteme ----------------- */

/* Ausrichtung und Responsive für die einzelnen Boxen */
.content {
    width: 100%;
    display: flex;
}
.mainleft {
    width: 10%;
}

.mainright {
    width: 10%;
}

.maincenter {
    width: 10%;
    width: 80%;
}

.section {
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* Box Größen */

.box1000{
    width: 100%;
    min-height: 200px;
    margin: 1rem 0rem;
}

.box500 {
    max-width: 50%;
    min-width: 300px;
    margin: 1rem 0rem;
}

/* Formatierung der Inhalter (Bilder, Schriften) */

.images {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.h1content {
    margin: 1rem;
}
.h2content {
    margin: 1rem;
}

.pcontent {
    margin: 1rem;
    margin-bottom: 2rem;
}

/*  ----------- Team ----------------- */
.sectionteam {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.profiles {
    display: flex;
    justify-content: space-around;
}

.profile {
 
    padding: 1rem;
}

.profile img {
    width: 300px;
    height: 300px;
    border-radius: 20%;
    transition: 400ms;
}

.user-name {
    margin-top: 30px;
    font-size: 25px;

}

.profile h5 {
    font-size: 18px;
}

@media only screen and (max-width: 975px) {
    .profiles {
        flex-direction: column;
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* FOOTER */
.foot
{
	max-width: 1000px;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	color: var(--bg-blue);

}

.footer-nav,.footer-social
{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


.footer-nav li
{
	line-height: 1.8;
	font-size: 22px;
	padding: 25px;
  
}

.footer-nav li:hover
{
	text-decoration: underline;
}

.footer-social li
{
	padding: 25px;
}


.image
{
	max-width:50px;
    max-height:50px;
}

footer a
{
	color: white;
	text-decoration: none;
}

footer {
    background-color: var(--bg-blue);
    margin: 0;
    padding: 3rem;
    min-height: 10rem;
    color: var(--bg-white);
    align-items: center;
 }
  

/* 
.footerbox {
    width: 30%;
    height: 15rem;
    padding: 1rem;
    background-color: rgba(249, 249, 248, 0.15);
    border-radius: 10px;
    }

    */